html {
    margin: 0;
    padding: 4px;
}
body {
	background-image: url("fghdfhgdfgf.jpg");
    padding: 11px;
    margin: 0px;
}

h1 {
    color: #2c2d28;
    padding: 15px 5 15px 5;
}
h1 span {
    padding: 9px;
}
h2 {
	color: #2c2d28;
}
h3 {
    color: white;
}

 table {
                border: 3px solid green;
                border-collapse: collapse;
                width: 50%;
            }

th, td {
                border: 1px solid green;
                color: black;
                text-align: center;
            }
th {
    background-color: #efe088;
}
 ul {
 	color: white;
 }
 .sekcja {
    font-family: Handlee, cursive;
    font-size: 14px;
}
.dupamaryna {
    font-size: 25px;
    color: black;
}
.dupamaryna span {
    background-color: red
}
